@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Grading Document</h1>

    <h2>Extracted Data</h2>

    <div>
        @if (ViewData["ExtractedData"] != null)
        {
            <pre>@ViewData["ExtractedData"]</pre>
        }
        else
        {
            <p>No data extracted yet. Press the button to analyze the data.</p>
        }
    </div>

    <form asp-action="ProcessText">
        <button type="submit" class="btn btn-primary">Analyze Data</button>
    </form>
</div>
